

.container {
  color: crimson;
  background-color:  #fdfd96 ;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

form {
  padding-top: 5x;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  
}

label {
  color: crimson;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.4rem;
}

input {
  color: forestgreen;
  width: 100%;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  background-color: white;
}

button {
  width: 150px;
  display: inline-block;
  padding: 8px 11px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  cursor:pointer;
  color: white;
  box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color:#77d42a;
    text-shadow:0px 1px 0px #aade7c
}


.Button:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
