.App {
  text-align: center;
}



.Nav-items{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  text-decoration:none;
  height: 5vh;
  
  }
  .whatsthis2{
    max-width: 100%;
    display: flex;
    
  flex-direction: row;
  
  flex-wrap: wrap;
 
  }

/* .ItemCard{
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 
}  */
